*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
    /* 1 rem = 10px */
    font-size: 55.5%; }
  
body {height: 100vh;}

.header {display: flex;}

h1 {
  background-color: red;
  margin: 2rem auto;
  font-size: 3rem;
}

/* BACKGROUND STYLES */

.bezel-bottom {
  content: "";
  height: 100rem;
  width: 105rem;
  background-color: yellowgreen;
  margin: 0 auto;
  clip-path: polygon(20% 0%, 80% 0%, 100% 15%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 15%);
}

.bezel-top {
  content: "";
  height: 100rem;
  width: 90rem;
  background-color: darkmagenta;
  margin: 0 auto;
  padding-top: .1rem;
}

/* CALCULATOR TOP HALF STYLES */

.calc-top {
  margin: 8rem auto 3rem auto;
  background-color: red;
  max-width: 85rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 24rem;
  padding-top: 3rem;
  box-shadow: 0 0 0 2pt green;
  }

.calc-top__heading {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content:  space-around;
}

.calc-top__display {display: flex;}

.calc-display {
  margin:  0 auto;
  background-color: darkgoldenrod;
  flex-basis: 55rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.calc-screen {
  font-size: 9rem;
  letter-spacing: .8rem;
}

.calc-sub {
  font-size: 7rem;
  letter-spacing: .8rem;
}

.side-text {
transform: rotate(270deg) translateX(4rem) translateY(6rem);
width: max-content;
height: max-content;
}

/* CALCULATOR BOTTOM HALF STYLES */

.calc-bottom {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(133, 128, 128);
  /* height: 40rem; */
  max-width: 85rem;
  margin: 0 auto;
  justify-content: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.blue-bar {
  height: 2rem;
  width: 90%;
  background-color: teal;
  margin-top: 2rem;
  clip-path: polygon(5% 0%, 95% 0%, 100% 86%, 0 86%);

}

/* CALCULATOR LINE STYLES */

.line {
  width: 90%;
  display: grid;
  column-gap: 1.6rem;
  align-items: center;
}

.line-one {grid-template-columns: 1fr max-content 10fr max-content 1fr;}

.line-two {grid-template-columns: 15fr max-content 1fr;}

.line::before,
.line::after,
.line-one__middle  {
  content: "";
  height: 1px;
  display: block;
  background-color: black;
}

/* CALCUATOR BTN STYLES */

.input {
  display: flex;
  margin: 0 4rem;
  flex: 0 1 12rem;
}

.btn {
  flex-basis: 8.4rem;
  height: 4.4rem;
  background-color: red;
  margin: 4rem 0 4rem 1rem;
  border-radius: 5rem;
  border-bottom: 1px solid black;
}

.btn:last-child{
  margin-bottom:  4rem;
}

.symbol {
  margin-top: 4rem;
  font-size: 4.4rem;
}

