/* Color Palette https://colorhunt.co/palette/155 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-grey-vlight: #dee2e4;
  --main-color-grey: #3a4042;
  --main-color-grey-dark: #303537;
  --main-color-grey-vdark: #262b2c;

  --main-color-black: #212121;
  --main-color-black-dark: #201e1e;

  --sec-color-blue: #8ecccc;

  --text-color-yellow: #ecb949;
  --text-color-brown: #96400f;

  --offset-shadow: 0px 0px 6px 11px var(--main-color-grey),
    0px 0px 0px 12px var(--main-color-black),
    inset 1px 2px 50px var(--main-color-black-dark);

  --notch-border-radius: 0 25px 25px 0;
  --side-notch-border: 4px solid var(--main-color-grey-vdark);
}

html {
  /* 1 rem = 10px */
  font-size: 55.5%;
}

body {
  min-height: 102vh;
  background: linear-gradient(
    180deg,
    var(--sec-color-blue),
    var(--text-color-brown)
  );
  display: flex;
  align-items: center;
}

@font-face {
  font-family: digital-7;
  src: url(font/digital-7.regular.ttf);
}

/* BACKGROUND STYLES */

.bezel-top {
  position: relative;
  height: 102rem;
  width: 90rem;
  background-color: var(--main-color-grey);
  margin: 1.5rem auto;
  padding-top: 0.1rem;
  border-radius: 10rem;
  box-shadow: 10px 0px 10px var(--main-color-black),
    16px 0px 5px var(--main-color-grey),
    -1px -2px 5px var(--main-color-grey-dark);
  border: 4px solid var(--main-color-grey-dark);
}

.bezel-top::before {
  position: absolute;
  content: '';
  background-color: var(--main-color-grey);
  width: 100rem;
  height: 99rem;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15rem;
  filter: contrast(90%);
  box-shadow: 1rem 0rem 2rem var(--main-color-black);
  border: 5px solid var(--main-color-grey-dark);
}

.btn-reset {
  position: absolute;
  top: 46%;
  left: 107.5%;
  padding: 2.5rem 3rem;
  border-radius: 15px 15px 0 0;
  border: 2px solid #e3dbd6;
  background: linear-gradient(
    90deg,
    rgba(241, 233, 227, 1) 10%,
    rgba(182, 176, 172, 1) 50%,
    rgba(241, 233, 227, 1) 90%
  );
  transform: rotate(90deg);
}

.side-notch,
.side-notch::before,
.side-notch::after {
  position: absolute;
  padding: 5rem 1.8rem;
  border-radius: var(--notch-border-radius);
  border: 4px solid var(--main-color-grey-vdark);
  background-color: var(--main-color-grey-dark);
  box-shadow: inset 1px 2px 10px var(--main-color-black);
  content: '';
}

.side-notch__left {
  top: 45%;
  left: -6%;
}

.side-notch__right {
  transform: rotate(180deg);
  top: 45%;
  left: 101.4%;
}

.side-notch__left::before,
.side-notch__left::after {
  left: -11%;
}

.side-notch__right::before,
.side-notch__right::after {
  left: -5%;
}

.side-notch__left::before,
.side-notch__right::before {
  top: -250%;
}

.side-notch__left::after,
.side-notch__right::after {
  top: 250%;
}

/* .side-notch__right,
.side-notch__right::after { border-bottom: none;} */

.side-notch__clear {
  position: absolute;
  padding: 19rem 1rem;
  background-color: var(--main-color-grey-dark);
  box-shadow: inset 1px 1px 5px var(--main-color-black),
    1rem 0rem 2rem var(--main-color-black);
  left: 105.5%;
  top: 43.1%;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top: var(--side-notch-border);
  border-right: var(--side-notch-border);
  border-bottom: var(--side-notch-border);
}

/* CALCULATOR TOP HALF STYLES */

.calc-top {
  margin: 5rem auto 3rem auto;
  background-color: var(--main-color-black);
  max-width: 85rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 25rem;
  /* padding-top: 2rem; */
  box-shadow: var(--offset-shadow);
}

.calc-top__heading {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-around;
}

.white {
  font-size: 3.5rem;
  color: var(--main-color-grey-vlight);
  margin-top: 1rem;
}

.blue {
  font-size: 1.8rem;
  color: var(--sec-color-blue);
  width: max-content;
  margin-top: 1.5rem;
}

.gold {
  font-size: 5.5rem;
  color: var(--text-color-yellow);
  font-weight: bold;
}

.calc-top__display {
  display: flex;
}

.calc-display {
  margin: 0 auto;
  background-color: #d3bb88;
  flex-basis: 68rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: inset 1px 2px 10px var(--main-color-grey-dark);
  height: 15rem;
}

h3,
h4 {
  font-family: digital-7;
  /* font-weight: normal; */
  color: var(--main-color-black);
}

.calc-screen {
  font-size: 10rem;
  letter-spacing: 0.8rem;
  height: 100%;
}

.calc-sub {
  font-size: 7rem;
  letter-spacing: 0.8rem;
  height: 100%;
}

.side-text {
  transform: rotate(270deg) translateX(9rem) translateY(12rem);
  width: max-content;
  height: max-content;
  color: var(--main-color-grey-vlight);
  font-size: 1.6rem;
}

/* CALCULATOR BOTTOM HALF STYLES */

.calc-bottom {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-color-black);
  /* height: 40rem; */
  max-width: 85rem;
  margin: 4rem auto 0 auto;
  justify-content: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  box-shadow: var(--offset-shadow);
}

.blue-bar {
  height: 2rem;
  width: 90%;
  background-color: var(--sec-color-blue);
  margin-top: 2rem;
  /* clip-path: polygon(5% 0%, 95% 0%, 100% 86%, 0 86%); */
  border-radius: 17rem 17rem 1rem 1rem;
}

/* CALCULATOR LINE STYLES */

.line {
  width: 90%;
  display: grid;
  column-gap: 1.6rem;
  align-items: center;
}

.line p {
  color: var(--text-color-yellow);
  font-size: 1.5rem;
}

.line-one {
  grid-template-columns: 2fr max-content 10fr max-content 1fr;
}

.line-two {
  grid-template-columns: 15fr max-content 1fr;
}

.line-full {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
  margin-bottom: 1rem;
}

.line::before,
.line::after,
.line-one__middle {
  content: '';
  height: 1px;
  display: block;
  background-color: var(--main-color-grey-vlight);
}

/* CALCUATOR BTN STYLES */

.input {
  display: flex;
  margin: 0 4rem;
  flex: 0 1 12rem;
}

.btn {
  flex-basis: 8.4rem;
  height: 4.4rem;
  background-color: var(--main-color-grey-dark);
  margin: 4rem 0 4rem 1rem;
  border-radius: 5rem;
  border: 3px solid var(--main-color-black-dark);
  box-shadow: 5px 5px 4px var(--main-color-black-dark),
    5px 5px 5px var(--main-color-grey-dark);
  transition: all 0.2s;
}

.btn:active,
.btn-active {
  border: 5px solid var(--main-color-black-dark);
  box-shadow: none;
  transform: translateY(2px);
}

.btn:focus {
  outline: none;
}

.btn:last-child {
  margin-bottom: 4rem;
}

.symbol {
  margin-top: 4rem;
  font-size: 4.4rem;
  color: var(--main-color-grey-vlight);
}

.operator {
  color: var(--text-color-brown);
}
